/*--Autor: Nathalia Hernández Santos--*/
h1{
    text-align: center;
}
.contenedor{
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}
.conte1{
    background-color: #ff416c;
    width: 200px;
    height: 200px;
    position: absolute;
}
.conte2{
    background-color: #ed213a;
    width: 200px;
    height: 200px;
    position: relative;
    top: 300px;
    left: 0;
}
.conte3{
    background-color: #ff4b2b;
    width: 200px;
    height: 200px;
    position: relative;
    left: 300px;
    bottom: 200px;
}
.conte4{
    background-color:#93291e;
    width: 200px;
    height: 200px;
    position: relative; 
    left: 300px; 
    bottom: 100px;   
}